body{
    background-color: beige;
}
#image{
    height: 40px;
    width: 40px;
}
#image:hover{
    transform: rotate(180deg);
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    border: 1px solid black;
}
nav a:hover{
    font-size: 125%;
    color: aqua;
}
.Row{
    display: flex;
    flex-direction: row;
    width: 300px;
}
.Row > img{
    background-color: blueviolet;
  width: 100px;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; 
  border: 10px solid black;
}
#Image:hover{
    transform: rotate(180deg);
}
.Column{
    display: flex;
    flex-direction: row;
    
}
.Column > img{
    background-color: #f1f1f1;
  width: 100px;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; 
  border: 10px solid black;
}
.Kids{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.Kids > img{
    background-color: #f1f1f1;
    width: 100px;
    margin-left: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; 
    border: 10px solid black;
}
.Daily{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.Daily > img{
    background-color: #f1f1f1;
    width: 100px;
    margin-left: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; 
    border: 10px solid black;
}
.Home{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.Home > img{
    background-color: #f1f1f1;
    width: 100px;
    margin-left: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 30px; 
    border: 10px solid black;
}
.Help{
    align-items: center;
    text-decoration: underline;
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
}